body{
    font-family: 'Raleway', sans-serif;
    line-height: 19px;
}
.cabecera{
    width: 100%;
}
.cabecera__img{
    height: 100px;
}
.cabecera__fondo{
    display: flex;
    flex-wrap: wrap;
    width:  100%;
    background: black;
}
.cabecera__fondo__img{
    width: 86%;
    margin: 50px auto;
}
.cabecera__header{
    display: flex;
    width: 80%;
    align-items: center;
    margin: auto;
    padding: .5rem 0;
    justify-content: space-between;
}
.cabecera__logo{
    display: flex;
    align-items: center;
}
.cabecera__buscar{
    margin-left: 3rem;
    display: flex;
    align-items: center;
    background: #F5F5F5;
    border-radius: 20px;
    gap: 8px;
    padding: 8px 16px;
    width: 350px;
    justify-content: space-between;
}
.cabecera__texto{
    background: transparent;
    border: none;
    width: 100%;
    font-size: 15px;
    outline: none;
}
.cabecera__boton{
    background: black;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 180px;
    cursor: pointer;
}
.cabecera__login{
    border:2px solid black;
    background: transparent;
    padding: .5rem 2rem;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: black;
}
.cabecera__login:hover{
    background: black;
    color: white;
    transition: all 0.5s ease-in-out;
}
@media screen and ( max-width: 840px) {
    .cabecera__img{
        height: 100px;
    }
    .cabecera__logo{
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
    }
    
}

@media screen and ( max-width: 700px){
    .cabecera__buscar{
        width: auto;
    }
}
@media screen and ( max-width: 550px){
    .cabecera__buscar{
        margin-left: 0;
    }
    .cabecera__header{
        flex-direction: column;
    }
}
